@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=PT+Mono&family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}
.submitbtn{
    background-color: #202221;
    color: white;
    height: 70px;
    width: 190px;
}
.nav2{
    height: 60px;
}
.nav3{
    height: 50px;
}
.nav3text{
    font-weight: 300;
}
.nav4text{
    font-weight: 500;
    font-size: 14px;
}
.nav5{
    font-size: 16px;
    font-weight: 300;
}
.laneng{
    font-size: 15px;
    font-weight: 300;
}