@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=PT+Mono&family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}
.all{
    background-color: #f5f7f6;
}
.submitbtn{
    background-color: #202221;
    color: white;
    height: 70px;
    width: 190px;
}
.nav2{
    height: 60px;
}
.nav3{
    height: 50px;
}
.nav3text{
    font-weight: 300;
}
.nav4text{
    font-weight: 500;
    font-size: 14px;
}
.nav5{
    font-size: 16px;
    font-weight: 300;
}
.laneng{
    font-size: 15px;
    font-weight: 300;
}
.badge {
    height: 80px;
    width: 80px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
   
    border-right: 3px solid pink;
    border-bottom: 3px solid pink;
    font-size: 28px;
    font-weight: 600;

  }

  .badge2 {
    height: 80px;
    width: 80px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
   
    border-right: 3px solid #ffbb00;
    border-bottom: 3px solid #ffbb00;
    font-size: 28px;
    font-weight: 600;

  }

  .badge3 {
    height: 80px;
    width: 80px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
   
    border-right: 3px solid #00f710;
    border-bottom: 3px solid #81cc86;
    font-size: 28px;
    font-weight: 600;

  }
  .btntxt, .btntxt:hover{
      background-color:#9fd1d7 ;
      border-radius: 10px;
      max-height: 20px;
      width: 40px;
      font-size: 10px;
      font-weight: 600;
      color: white;
  }
  .lefty{
      background-color: rgb(23, 21, 21);
      color: white;
      border-radius: 7px;
      width: 15px;
  }
  .btntxt2, .btntxt2:hover{
    background-color:#8253ee ;
    border-radius: 10px;
    max-height: 20px;
    width: 40px;
    font-size: 10px;
    font-weight: 600;
    color: white;
}
.btntxt3, .btntxt3:hover{
    background-color:#fe4e4e ;
    border-radius: 10px;
    max-height: 20px;
    width: 50px;
    font-size: 10px;
    font-weight: 600;
    color: white;
}
.card-text{
    font-size: 13px;
    font-weight: 300;
}

  .badge4 {
    height: 80px;
    width: 80px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
   
    border-right: 3px solid rgb(0, 24, 241);
    border-bottom: 3px solid rgb(0, 12, 241);
    font-size: 28px;
    font-weight: 600;

  }
  .mask:hover {
    background-color: rgba(0, 0, 0, 0.2);

  }
.tsmall{
    font-size: 15px;
    font-weight: 400;
}
.spc{
    color: #60a7bb;
}
.spc:hover{
    color: white;
    font-weight: bold;
}
.spc2{
    font-weight: bolder;
}
.projectsarea{
    background-color: #f5f7f6;
}
.card{
    box-shadow: 0px 0px 0px 0px;
}



          /* Default height for small devices */
          #intro-example {
            height: 100vh;
          }
      
          /* Height for devices larger than 992px */
          @media (min-width: 992px) {
            #intro-example {
              height: 100vh;
            }
          }