{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
        
<style>


.form-area{
    background-color: ffffff;
   
    
}

.mainlogo{
    width:14vw ;
    height: 8vh;
   
}


.facebooktxt{
    color: #375184;
}

.consent{
    font-size: 12px;
}







@media screen and (max-width: 600px) {
    .phonediv {
      display: none;
    }
    .mainlogo{
        width:auto ;
        margin-left: 5px;
    }
  }
</style>


<div class="container-fluid">
    <div class="container">
        <div class="row d.flex justify-content-center">
            <div class="col-md-5 m-md-5 phonediv">
                <img class="img-fluid" src="{% static 'images/phone.png' %}" alt="">
            </div>


            <div class="col-md-4 d.flex justify-content-center m-3 ">
                <div class="col  mt-3 " >
                    <div class="col form-area card">
                        <div class="container">
                            <img class="img-fluid mainlogo m-5" src="{% static 'images/mainlogo.png' %}" alt="">
                        </div>
                        <form class="container" action="" method="POST">
                            {% csrf_token %}

                            <!-- Email input -->
                           {{form | crispy}}
                          
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">Log in</button>
                          
                            <!-- Register buttons -->
                            <div class="text-center">
                              <p><ul> </ul></p><small class="text-muted fw-bold">OR</small><p></p>
                              <p class="facebooktxt fw-bold"><i class="fa-brands fa-facebook-square"></i> Log in with Facebook</p>
                              <small class="mt-4 facebooktxt mb-5"></i>Forgot password?</small>
                            </div>
                          </form>

                          
                    </div>
                    <div class="mt-4 bg-white text-center card">
                        <p>Dont have an account? <a href="{% url 'register' %}" class="sign fw-bold">Sign up</a></p>
                      </div>
                      <div class="row m-3">
                          <p class="text-center">Get the app.</p>
                          <div class="col"><img class="img-fluid" src="{% static 'images/appstore.png' %}" alt=""></div>
                          <div class="col"><img class="img-fluid" src="{% static 'images/playstore.png' %}" alt=""></div>
                      </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}