{% load static %}
<div class="container-fluid mt-5">

<!-- Footer -->
<footer class="bg-link text-center mt-5 ">
    <!-- Grid container -->
    <div class="container p-4">
  
     
  
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Awwwards is a platform for developers to showcase their projects and have them rated.
        </p>
      </section>
      <!-- Section: Text -->
  
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright:
      <a class="text-dark" href="https://github.com/sirgama">Gamaliel Sirengo</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer --></div>