{% extends 'projects/base.html' %}

{% load static %}

{% block content %}

<div class="">
    <!-- Start of hero section -->

    <header>
  
      
        <!-- Background image -->
        <div
          id="intro-example"
          class="p-5 text-center bg-image"
          style="background-image: url('/static/projects/assets/cover.jpg');"
        >
          <div class="mask">
              <h6 class="d-flex justify-content-start m-3 text-white">Site of the day : June 11th 2022</h6>
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3 fw-bold spc2">HELLO: Awwwards Clone</h1>
                <p class="mb-4">BY <span class="spc">SIRGAMA.</span>  FROM <span class="spc">NAIROBI</span> WITH <span class="spc">7.42</span></p>
                    <div class="m-5">
                        <div class="badge text-center m-5"><p class="text-center mt-md-3">7<small class="tsmall">.34</small></p></div>
                        <div class="badge text-center m-3"><p class="text-center mt-md-3">8<small class="tsmall">.47</small></p></div>
                        <div class="badge text-center m-3"><p class="text-center mt-md-3">6<small class="tsmall">.92</small></p></div>
                        <div class="badge text-center m-3"><p class="text-center mt-md-3">9<small class="tsmall">.88</small></p></div>
                    </div>
              </div>
              
            </div>
            
          </div>
          
        </div>
        <!-- Background image -->
      </header>

    <!-- End of hero section -->
</div>
<div class="container-fluid">
    <div class="m-5">
        <h6>site of the day</h6>
    </div>
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock content %}