{% load static %}





<nav class="navbar navbar-dark nav3" style="background-color: black;">
    <div class="container-fluid">
      <span class="navbar-text m-auto text-white nav3text">
        #StopWarInUkraine <img class="img-responsive " src="{% static 'projects/assets/ukraine.png' %}" height="25" alt=""> Save the children
      </span>
    </div>
  </nav>








<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light nav2 " style="background-color: #f5f7f6;">
    <div class="container-fluid justify-content-between">
      <!-- Left elements -->
      <div class="d-flex">
        <!-- Brand -->
        <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
           <small><p class="laneng mt-4"><u> English</u></p> </small> 
        </a>
        
      </div>
      <!-- Left elements -->
  
      <!-- Center elements -->
      <ul class="navbar-nav flex-row d-none d-md-flex">
          <li class="nav-item me-3 me-lg-3">
       <small><p class="m-4">The awards of design, creativity and innovation on the internet</p></small>
        </li>
      </ul>
      <!-- Center elements -->
  
      <!-- Right elements -->
      <ul class="navbar-nav flex-row">
        
        
        <li class="nav-item ">
          <small>
            <i class="fa-brands fa-instagram m-2"></i>
            <i class="fa-brands fa-twitter m-2"></i>
            <i class="fa-brands fa-facebook-f m-2"></i>
          </small>
        </li>
    </ul>
      <!-- Right elements -->
    </div>
  </nav>
  <!-- Navbar -->
























<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light sticky-top " style="background-color: #f5f7f6;">
    <div class="container-fluid justify-content-between">
      <!-- Left elements -->
      <div class="d-flex">
        <!-- Brand -->
        <a class="navbar-brand  d-flex align-items-center" href="#">
            <div
            class=" nav5"
            style="background-color: #f8f9fb; border:none; border-right: 0.1px solid rgba(126, 107, 107, 0.35); border-radius: 0;"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBothOptions"
            aria-controls="offcanvasWithBothOptions"
            
          >
            <i class="fas fa-bars m-3"></i> <small class="m-2"> Menu</small> 
        </div>
        </a>
        
      </div>
      <!-- Left elements -->
  
      <!-- Center elements -->
      <ul class="navbar-nav flex-row d-none d-md-flex">
          <li class="nav-item ">
        <img class="img-responsive ms-5" src="{% static 'projects/assets/awwards.svg' %}" height="25" alt="">
        </li>
      </ul>
      <!-- Center elements -->
  
      <!-- Right elements -->
      <ul class="navbar-nav flex-row">
        
        <li class="nav-item me-3 me-lg-1">
            <a class="nav-link" href="#">
               <small> <p class=" text-dark mt-3 nav4text">REGISTER/LOG IN</p></small>
            </a>
          </li>
        <li class="nav-item submitbtn">
          <a class="nav-link text-white m-3 " href="#">
           <small class=""> SUBMIT YOUR SITE!</small>
          </a>
        </li>
    </ul>
      <!-- Right elements -->
    </div>
  </nav>
  <!-- Navbar -->


















<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
  </div>
</div>