{% load static %}



<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-between">
      <!-- Left elements -->
      <div class="d-flex">
        <!-- Brand -->
        <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
            <div
            class="btn btn-light btn-lg"
            style="background-color: #f8f9fb; border:none; border-right: 0.1px solid rgba(126, 107, 107, 0.35); border-radius: 0;"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBothOptions"
            aria-controls="offcanvasWithBothOptions"
            
          >
            <i class="fas fa-bars"></i> <small> Menu</small> 
        </div>
        </a>
        
      </div>
      <!-- Left elements -->
  
      <!-- Center elements -->
      <ul class="navbar-nav flex-row d-none d-md-flex">
          <li class="nav-item me-3 me-lg-1">
        <img class="img-responsive" src="{% static 'projects/assets/awwards.svg' %}" height="25" alt="">
        </li>
      </ul>
      <!-- Center elements -->
  
      <!-- Right elements -->
      <ul class="navbar-nav flex-row">
        
        <li class="nav-item me-3 me-lg-1">
            <a class="nav-link" href="#">
                <h6 class="fw-bold text-dark mt-2">REGISTER/LOG IN</h6>
            </a>
          </li>
        <li class="">
          <a class="nav-link submitbtn justify-content-center" href="#">
           SUBMIT YOUR SITE
          </a>
        </li>
    </ul>
      <!-- Right elements -->
    </div>
  </nav>
  <!-- Navbar -->

















  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Enable both scrolling & backdrop</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
  </div>
</div>