{% extends 'projects/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="all">
<div class="container ">
    <div class="container mt-2 ">
                            
<h2 class="text-center fw-bold">Standard Submission</h2>

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8  m-2  " >
                            <div class="row d.flex justify-content-between">
                                <div class="col m-1 whats"></div>
                                <div class="col m-1 whats"></div>
                            </div>
                            <div class="col form-area card mt-5">
                                <div class="container mt-5">
                                    
                               
                                
                                <form class="container bootstrap4" action="" method="POST" enctype="multipart/form-data">
                                    
                                    
                                    {% csrf_token %}
        
                                    <!-- Email input -->
                                   {{form|crispy}}
                                  
                                    <!-- 2 column grid layout for inline styling -->
                                    
                                  
                                    <!-- Submit button -->
                                    <button type="submit" class="btn  btn-lg mt-5  mb-4 btn-block fw-bold" style="background-color: #48c5b5; color: white;">Post Site</button>
                                  
                                  
                                   
                                  </form>
        
                                  </div>
                            </div>
                            
                            
                        </div>
                        <div class="col-md-2"></div>
                    </div>
</div>
</div>
</div>
{% endblock %}