{% extends 'projects/base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">

<div class="container">
<div class="row text-center ">
    {% if sites %}
    <h5 class="text-center mt-4">We've found {{sites|length}} project from what you searched <strong>'{{message}}'</strong> </h5>
    {% else %}
    <h1 class="text-center mt-5">Ooops, didn't find anything... Try searching for another project. </h1>

<img src="{% static 'projects/assets/serch.png' %}" alt="" class="img-responsive ">
    

    
    {% endif %}
</div>




    <div class="row mt-4 ">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div class="row row-cols-1 row-cols-md-2 g-5 " >
                {% if sites %}
                {% for site in sites %}
                <div class="col mt-5">
                  <div class="card " style="border-radius: 0px;">
                    <a href="{% url 'view-site' site.id %}"><img src="{{site.image.url}}" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                      <p class="card-title mb-3 "><small>{{site.sitename}}</small></p>
                        <div class="row mt-3">
                            
                            <div class="col card-text">
                                {{site.dateuploaded}}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col"><p class="card-text">By <small class="fw-bold">{{site.user.username}}</small></p>
                            </div>
                           
                        </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
              </div>

        </div>
        <div class="col-md-2"></div>
    </div>

</div>


</div>



{% endblock %}