{% extends 'projects/base.html' %}
{% load static %}


<div class="container">
{% block content %}

<div class="row">
    <div class="col-md-2"></div>
<div class="col-md-8">
    <div class="col mt-5">
        <div class="card " style="border-radius: 0px;">
          <img src="{{post.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-title mb-3 "><small>{{post.sitename}}</small></p>
              <div class="row mt-3">
                  <div class="col"><p class="card-text">From {{post.country}}</p>
                  </div>
                  <div class="col card-text">
                      {{post.dateuploaded}}
                  </div>
              </div>
              <div class="row mt-3">
                  <div class="col"><p class="card-text">By <small class="fw-bold">{{post.user.username}}</small></p>
                  </div>
                  <div class="col">
                      <button class="btn  btn-sm btntxt"><small class="mb-1">HM</small></button>
                      <button class="btn  btn-sm btntxt2"><small class="mb-1">DEV</small></button>
                      <button class="btn  btn-sm btntxt3"><small class="mt-1">SOTD</small></button>
                  </div>
              </div>
              <div class="row mt-4">
                  <div class="col-md-12 text-center">
                    <h4>Design <i class="fa-brands fa-figma"></i> </h4><div id="confirm-box"></div>
                <form action="" method="POST" class="rate-form" id="{{post.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="formOne">
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="first"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="second"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="third"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="fourth"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="fifth"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="sixth"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="seventh"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="eighth"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="ninth"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="tenth"></button>
                </form>
                  </div>



                  <div class="col-md-12 text-center">
                    <h4>Usability <i class="fa-brands fa-figma"></i> </h4><div id="confirm-box2"></div>
                <form action="" method="POST" class="rate-form2" id="{{post.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="formTwo">
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="first2"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="second2"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="third2"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="fourth2"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="fifth2"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="sixth2"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="seventh2"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="eighth2"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="ninth2"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="tenth2"></button>
                </form>
                  </div>
                  <div class="col-md-12 text-center">
                    <h4>Usability <i class="fa-brands fa-figma"></i> </h4><div id="confirm-box23"></div>
                <form action="" method="POST" class="rate-form23" id="{{post.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="formTwo">
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="first23"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="second23"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="third23"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="fourth23"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="fifth23"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="sixth23"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="seventh23"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="eighth23"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="ninth23"></button>
                    <button type="submit" class="fa fa-star my-btn fa-3x" id="tenth23"></button>
                </form>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="container">
          <h2>USER VOTES</h2>
      </div>
</div>
<div class="col-md-2"></div>
</div>


{% endblock %}
</div>